.featured-products {
  padding: 40px 20px;
  background-color: #f9f9f9;
}


.section-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.product-list {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  gap: 16px;
  padding-bottom: 10px;
  scroll-behavior: smooth;
}

.product-box {
  flex: 0 0 auto;
  width: 200px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  padding: 16px;
  text-align: center;
}

.product-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 12px;
}

.product-title {
  font-size: 16px;
  margin-bottom: 6px;
  color: #333;
}

.product-price {
  font-size: 14px;
  color: #888;
}
.product-button {
    background-color: #4ca3af; 
    color: white;
    padding: 12px 22px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 12px;
    text-align: center; 
    text-decoration: none; 
    text-transform: capitalize;
    display: inline-block; 
    transition: background-color 0.3s ease; 
}

.product-button:hover {
    background-color: #45a049; /* Darker green on hover */
}
/* Optional: Hide scrollbar on WebKit (Chrome, Safari) */
.product-list::-webkit-scrollbar {
  display: none;
}

.product-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
